*{
    margin:0;
    padding:0;
    font-family: 'popins',sans-serif;
    box-sizing: border-box;
}




body{
    background-image: url("images/pexels-elīna-arāja-3377405.jpg");
  
    
    min-height: 31.25em; 
  
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}



 nav {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding: 0.9375em 3%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    overflow:hidden;
    }

nav ul li{
    display:inline-block;
    list-style:none;
    margin: 1.5625em 1.25em;
}
nav ul li a{
    text-decoration: none;
    color:antiquewhite;
    float:left;
    display:block;
    text-align: center;
    text-decoration: none;
    border-bottom: 0.1875em solid transparent;

}
nav ul li a:hover{
    color:rgb(0, 0, 0);  
    border-bottom: 0.1875em solid red;
}
nav ul li a.active{
    border-bottom: 0.1875em solid rgb(0, 0, 0);
}



.title{
    position:absolute;
    top:50%;
    left:50%;
    transform :translate(-50%,-50%);
    font-size:15.625em;
    -webkit-text-stroke:0.05em transparent ;
    color:black;
    background-image: linear-gradient(rgba(163, 151, 151, 0.6),rgba(0, 0, 0, 0.6));
    background-repeat: no-repeat;
    -webkit-background-clip:text;
    background-position:-4.40em 0;
    animation:backcolor 5s linear infinite;
}
@keyframes backcolor{
    100%{
        background-position:0 0;
    }
}







.img-gallery{
    width:50%;
    margin:6.25em auto 50%;
    display:flex;
    flex-wrap: wrap;
    gap: 2.5em;
    margin-top: 62.5em;
    margin-bottom: 9.375em;
    
    
    
       
 }
 .img-gallery img{
     width:30%;
     cursor:pointer;
     border-radius: 0.4375em;
     transition-duration:1s ;
 
     
 }
 
 .slika1:hover{
    
     rotate: -17deg;
     border-radius: 1.25em;
     box-shadow: 0 2em 4.6875em rgba(68,77,136,0.2);
 }
 .slika2:hover{
     rotate: -17deg;
     border-radius: 1.25em;
     box-shadow: 0 2em 4.6875em rgba(68,77,136,0.2);
 }
 .slika3:hover{
     rotate: -17deg;
     border-radius: 1.25em;
     box-shadow: 0 2em 4.6875em rgba(68,77,136,0.2);
 }
 .slika4:hover{
     rotate: -17deg;
     border-radius: 1.25em;
     box-shadow: 0 2em 4.6875em rgba(68,77,136,0.2);
 }
 .slika5:hover{
     rotate: -17deg;
     border-radius: 1.25em;
     box-shadow: 0 2em 4.6875em rgba(68,77,136,0.2);
 }
 .slika6:hover{
     rotate: -17deg;
     border-radius: 1.25em;
     box-shadow: 0 2em 4.6875em rgba(68,77,136,0.2);
 }
 .slika7:hover{
     rotate: -17deg;
     border-radius: 1.25em;
     box-shadow: 0 2em 4.6875em rgba(68,77,136,0.2);
 }
 .slika8:hover{
     rotate: -17deg;
     border-radius: 1.25em;
     box-shadow: 0 2em 4.6875em rgba(68,77,136,0.2);
 }
 .slika9:hover{
     rotate: -17deg;
     border-radius: 1.25em;
     box-shadow: 0 2em 4.6875em rgba(68,77,136,0.2);
 }
 .slika10:hover{
     rotate: -17deg;
     border-radius: 1.25em;
     box-shadow: 0 2em 4.6875em rgba(68,77,136,0.2);
 }
 .slika11:hover{
     rotate: -17deg;
     border-radius: 1.25em;
     box-shadow: 0 2em 4.6875em rgba(68,77,136,0.2);
 }
 .slika12:hover{
     rotate: -17deg;
     border-radius: 1.25em;
     box-shadow: 0 2em 4.6875em rgba(68,77,136,0.2);
 }
 .slika13:hover{
     rotate: -17deg;
     border-radius: 1.25em;
     box-shadow: 0 2em 4.6875em rgba(68,77,136,0.2);
 }
 .slika14:hover{
     rotate: -17deg;
     border-radius: 1.25em;
     box-shadow: 0 2em 4.6875em rgba(68,77,136,0.2);
 }
 .slika15:hover{
     rotate: -17deg;
     border-radius: 1.25em;
     box-shadow: 0 2em 4.6875em rgba(68,77,136,0.2);
 }

 .title3{
    display: none;
 }
 .hero2{
    display:none;
 }






  footer {
    
    padding-top: 1.25em;
    padding-bottom: 5em;
    background-color:rgb(43, 43, 43);
    color: rgb(0, 0, 0);
  }

  footer{
    text-align:center;
  }

  h1{
    margin-bottom:0 ;
    text-align: center;
    
  }
  .contact{
    font-size: 0.5em;
    text-align: left;
    color: white;
  }

  .title2{
    display: none;
  }

  .pppp{
    display:none;
  }
  


 









  @media only screen and (max-width: 1200px) {
   
    .title{
        font-size:5.8625em;     
    }
    




.img-gallery{
    width:70%;
    gap: 0.5em;
    margin-top: 45.0em;    
 }


    .active{
        display: none;
    }
    .active2{
        display:none;
        
    }
    .active3{
        display:none;
        
    }
    .active4{
        display:none;
        
    }

nav ul li{
    margin: 1.25em 0.25em;
}

.pppp{
width:70.625em;
max-width: 70%;
margin: 0 auto;
display:flex;
align-items: left;
justify-content:space-around;
margin-top: 5.375em;
   
}
.title2{
    display: block;
    padding-top:0.6em;
    padding-bottom:0.10em;
    border-bottom: 0.07em solid rgb(0, 0, 0);
    text-align: center;
    font-size: 3.125em;
}


.slikaa{
  float:left;
  width:12.5em;
  height:8.5em;
  padding: 0 10px 0 0 ;
}

.text{
    margin-left:1em;
    margin-top: 0em;
    text-align: left;
    margin-bottom: 6em;
}



.hero2{
    margin-top: 6em;
    display:flex;
    align-items: center;
    justify-content: center;
}

form{
    width:90%;
    max-width: 18.75em;
}
.input-group{
    margin-bottom: 1.875em;
    position: relative;

}
input, textarea{
    width:18.75em ;
    padding:0.625em ;
    outline: 0;
    border: 0.134em solid rgb(0, 0, 0);
    background: transparent;
    font-size: 0.9375em;
}
label{
    height:100%;
    position:absolute;
    left:0;
    top:0;
    padding:0.625em;
    color:rgb(63, 63, 63);
    cursor:text;
    transition: 0.2s;
}
button{
    color:black;
    padding:0.625em 0;
    outline:none;
    background:transparent;
    border: 0.154em solid rgb(0, 0, 0);
    width: 94%;
    cursor: pointer;
    margin-bottom: 4em;

}
button:hover{
    border: 0.154em solid rgb(63, 63, 63);
    color:rgb(63, 63, 63);
}
input:focus~label,input:valid~label,textarea:focus~label,textarea:valid~label{
    top:-2.1875em;
    font-size: 0.875em;
    color:rgb(0, 0, 0);
}
.title3{
    display: block;
    padding-top:0.6em;
    padding-bottom:0.10em;
    border-bottom: 0.07em solid rgb(0, 0, 0);
    text-align: center;
    font-size: 3.125em;
}



}









    

  